<!DOCTYPE html>
<html lang="es" ng-app="TecnoCrown" ng-controller="globalCtrl">
  <head>
    <meta charset="UTF-8">
    <script src="bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/home.css">
    <title>TecnoCrown</title>

  </head>
  <body ng-controller="HomeCtrl">
    <div class="header">
      <div class="container">
        <a href="/"><img id="logo" src="images/logo5.png"/></a>
        <div id="menu">
          <ul>
            <a href="/projects.html"><li>Projects</li></a>
            <a href="/about"><li>About us</li></a>
            <a href="/contact"><li>Contact</li></a>
            <a href="/profile"><li>Profile</li></a>
            <a href="/"><li class="navBtn logBtn">Log Out</li></a>
          </ul>
        </div>
      </div>
    </div>
    <div id="locations">
      <div class="container">
        <ul class="nav nav-pills">
          <!--<li role="presentation" class="active"><a href="#">Home</a></li>
<li role="presentation"><a href="#">Help</a></li>-->
          <li role="presentation" class="dropdown">
            <span class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
              {{language.select_lang}}<span class="caret"></span>
            </span>
            <ul class="dropdown-menu" role="menu">
              <li ng-click="changelang('en')"><a href="">{{language.lang.en}}</a></li>
              <li ng-click="changelang('es')"><a href="" >{{language.lang.es}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 footer-col">
          </div>
          <div class="col-sm-3 footer-col">
          </div>
          <div class="col-sm-3 footer-col">
          </div>
          <div class="col-sm-3 footer-col">
          </div>
        </div>
      </div>
    </div>
    <div id="copyleft">
      COPYLEFT ALL RIGHTS ARE FREE FOR ALL PEOPLE ;)
    </div>
    <script src="scripts/app.js"></script>
    <script src="scripts/home.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js" type="text/javascript"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
  </body>
</html>
