<link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css"/>
<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="styles/contact.css"/>
<div id="middleContent">
  <div class="container">
    <h1 style="margin-right: 0px;">{{language.contactMsg}}</h1>
    <div class="col-md-5 signin-form-container">
      <form action="#" id="signin-form" ng-controller="signinCrtl">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" class="form-control" id="username_signin"
                 placeholder="{{language.signinFields.name}}" aria-describedby="basic-addon1" ng-model="msg.username">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="email" class="form-control" placeholder="{{language.signinFields.email}}" aria-describedby="basic-addon1" ng-model="msg.email">
        </div>

        <textarea placeholder="{{language.textarea}}" ng-modal="msg.comment"class="form-control" rows="3"></textarea>
        <br>
        <button type="submit" class="btn btn-primary" ng-click="sendEmail(msg)">{{language.send}}</button>

      </form>
    </div>
  </div>
</div>