<link rel="stylesheet" href="styles/home.css"/>
<div id="middleContent">
  <div class="project">


    <!--Menu nav-->
    <ul class="nav nav-tabs nav-justified" style="font-weight: bold">
      <li ng-click="active=1" class="active"><a href="" data-toggle="tab">{{language.profile.projects}}</a></li>
      <li ng-click="active=2"><a href="" data-toggle="tab">{{language.profile.crown}}</a></li>
      <li ng-click="active=3"><a href="" data-toggle="tab">{{language.profile.suggestion}}</a></li>
      <li ng-click="active=4"><a href="" data-toggle="tab">{{language.profile.prof}}</a></li>
    </ul>
    <!--Your project created-->
    <div id="projects" ng-show="active==1">
      <!-- Your projects are 0 -->
      <div ng-hide="yourProjects.length" class="emptyMsg">
        <h2>{{language.profile.no_project}}</h2>
        <p>{{language.profile.no_project_info}}</p>
        <p>{{language.profile.sug}}</p>
        <a class="btn btn-info" href="#/new_project" role="button">{{language.profile.new_project}}</a>
      </div>
      <!-- Show your projects -->

      <div ng-show="project.length">
        <a class="btn btn-info" href="#/new_project" role="button">{{language.profile.new_project}}</a>

        <div  ng-repeat="project in yourProjects">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{{element.img}}" alt="...">
              <div class="caption">
                <h4><a href="#/project/{{element.id}}">{{element.name}}</a></h4>
                <p>{{element.description}}</p>
                <div class="progress progress-striped active">
                  <div class="progress-bar" role="progressbar"
                       aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                       style="width: 50%">
                    <span>{{element.current}}/{{element.needed}}</span>
                  </div>
                </div>
                <div class="progress progress-striped active">
                  <div class="progress-bar" role="progressbar"
                       aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                       style="width: 50%">
                    <span>{{element.remain}}&nbsp;days</span>
                  </div>
                </div>
                <p>
                  <a href="#/project/{{element.id}}">+ more</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Crowfounding Projects-->
    <div id="crowfounding" ng-show="active==2">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchFilter">
      </div>
      <div ng-repeat="element in crowfounding | filter:searchFilter" style="display:inline-block">
        <div class="col-sm-6 col-md-4" style="width:250px">
          <div class="thumbnail">
            <img src="{{element.img}}" alt="...">
            <div class="caption">
              <h4><a href="#/project/{{element.id}}">{{element.name}}</a></h4>
              <p>{{element.description}}</p>
              <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                     style="width: 50%">
                  <span>{{element.current}}/{{element.needed}}</span>
                </div>
              </div>
              <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                     style="width: 50%">
                  <span>{{element.remain}}&nbsp;days</span>
                </div>
              </div>
              <p>
                <a href="#/project/{{element.id}}">+ more</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Suggestion info-->
    <div  id="suggestion" ng-show="active==3">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <div ng-repeat="element in crowfounding" style="display:inline-block">
        <div class="col-sm-6 col-md-4" style="width:250px">
          <div class="thumbnail">
            <img src="{{element.img}}" alt="...">
            <div class="caption">
              <h4><a href="#/project/{{element.id}}">{{element.name}}</a></h4>
              <p>{{element.description}}</p>
              <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                     style="width: 50%">
                  <span>{{element.current}}/{{element.needed}}</span>
                </div>
              </div>
              <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                     style="width: 50%">
                  <span>{{element.remain}}&nbsp;days</span>
                </div>
              </div>
              <p>
                <a href="#/project/{{element.id}}">+ more</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Profile info -->
    <div id="profile" ng-show="active==4">
      <br>
      <form role="form">
        <div class="form-group">
          <label for="name">Name</label>
          <input ng-model="user.name" type="text" class="form-control" id="name"
                 placeholder="Name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input ng-model="user.email" type="email" class="form-control" id="email"
                 placeholder="Email">
        </div>
        <div class="form-group">
          <label for="organization">Your Organization</label>
          <input type="text" ng-model="user.company" class="form-control" id="organization"
                 placeholder="Organization">
        </div>
        <div class="form-group">
          <label for="github">Your Github link</label>
          <input type="text" ng-model="user.github" class="form-control" id="github"
                 placeholder="Github">
        </div>
        <!--          <div class="form-group">
<label for="picture">Profile Picture</label>
<input type="file" id="picture">
<p class="help-block">Select your picture</p>
</div>-->

        <button type="submit" ng-click="sendProfile(user)" class="btn btn-default">Send</button>
      </form>

      <p>{{info}}</p>
    </div>

  </div>
</div>