<style>
  body{
    background-color: azure;
    background-image: none;
  }
</style>
<div id="middleContent" style="margin-top:0px; min-height: 970px;">
  <div class="container">
    <div class="col-md-3 filters">
      <form action="#" method="post">
        <br/>
        <span style="color:azure;">Filter projects:</span>
        <div class="btn-group btn-group-xs" role="group" aria-label="" style="float:right;">
          <button type="button" class="btn btn-default"  ng-click="reverse=false">
            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
          </button>
          <button type="button" ng-click="reverse=true" class="btn btn-default">
            <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
          </button>
        </div>
        <br/>
        <hr/>
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon2">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <input type="text" class="form-control" placeholder="Search ... " ng-model="searchFilter" aria-describedby="sizing-addon2">
        </div>
        <br/>
        <div class="input-group input-group-sm">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-filter"></span>
            </button>
          </div>
          <input type="text" class="form-control" aria-label="" ng-model="searchType" placeholder="Select subclass project">
        </div><!-- /.input-group -->
        <br/>
        <br/>
        <br/>
      </form>
    </div>
    <div class="col-sm-9">
      <div  ng-repeat="element in projects | filter: {type: searchType} | filter: searchFilter | orderBy: 'name':reverse">
        <div class="col-sm-6 col-md-5">
          <div class="thumbnail">
            <img src="{{element.img}}" alt="...">
            <div class="caption">
              <h4><a href="#/project/{{element.id}}">{{element.name}}</a></h4>
              <p>{{element.description}}</p>
              <p>
                <a href="#/project/{{element.id}}">+ more</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>