<style>
    body{
        background-color: azure;
        background-image: none;
    }
</style>
<div id="middleContent" style="margin-top:0px; min-height: 970px;">
    <div class="container">
        <div class="col-md-3 filters">
            <form action="#" method="post">
                <br/>
                <span style="color:azure;">Filter projects:</span>
                <div class="btn-group btn-group-xs" role="group" aria-label="" style="float:right;">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </div>
                <br/>
                <hr/>
                <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon2">
                <span class="glyphicon glyphicon-search"></span>
              </span>
                    <input type="text" class="form-control" placeholder="Search ... " aria-describedby="sizing-addon2">
                </div>
                <br/>
                <div class="input-group input-group-sm">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Software</a></li>
                            <li><a href="#">Start ups</a></li>
                            <li><a href="#">Social IT</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Hardware</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" aria-label="" placeholder="Select subclass project">
                </div><!-- /.input-group -->
                <br/>
                <span style="color:azure;">Select by rate:</span>
                <div style="color:azure; font-size: 25px; text-align: center;">
                    <span class="glyphicon glyphicon-star-empty" ></span>
                    <span class="glyphicon glyphicon-star-empty" ></span>
                    <span class="glyphicon glyphicon-star-empty" ></span>
                    <span class="glyphicon glyphicon-star-empty" ></span>
                    <span class="glyphicon glyphicon-star-empty" ></span>
                </div>
                <br/>
                <span style="color:azure;">Select by cost:</span>
                <div style="color:azure; font-size: 25px; text-align: center; margin-top:10px;">
                    <input type="range" />
                </div>
                <br/>
                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group" style="float:right">
                    <button type="button" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-default">Filter</button>
                </div>
                <br/>
                <br/>
            </form>
        </div>
        <div class="col-md-9" style="float:right">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/proy1.png" alt="...">
                        <div class="caption">
                            <h4>Title Proyect</h4>
                            <p>Tiny description about the proyecto, no much more of 150 characters.</p>
                            <p>
                                <a href="#">+ more</a>
                                <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/proy2.jpeg" alt="...">
                        <div class="caption">
                            <h4>Title Proyect</h4>
                            <p>Tiny description about the proyecto, no much more of 150 characters.</p>
                            <p>
                                <a href="#">+ more</a>
                                <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/proy3.jpeg" alt="...">
                        <div class="caption">
                            <h4>Title Proyect</h4>
                            <p>Tiny description about the proyecto, no much more of 150 characters.</p>
                            <p>
                                <a href="#">+ more</a>
                                <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/proy1.png" alt="...">
                        <div class="caption">
                            <h4>Title Proyect</h4>
                            <p>Tiny description about the proyecto, no much more of 150 characters.</p>
                            <p>
                                <a href="#">+ more</a>
                                <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/proy2.jpeg" alt="...">
                        <div class="caption">
                            <h4>Title Proyect</h4>
                            <p>Tiny description about the proyecto, no much more of 150 characters.</p>
                            <p>
                                <a href="#">+ more</a>
                                <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/proy3.jpeg" alt="...">
                        <div class="caption">
                            <h4>Title Proyect</h4>
                            <p>Tiny description about the proyecto, no much more of 150 characters.</p>
                            <p>
                                <a href="#">+ more</a>
                                <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/proy1.png" alt="...">
                        <div class="caption">
                            <h4>Title Proyect</h4>
                            <p>Tiny description about the proyecto, no much more of 150 characters.</p>
                            <p>
                                <a href="#">+ more</a>
                                <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/proy2.jpeg" alt="...">
                        <div class="caption">
                            <h4>Title Proyect</h4>
                            <p>Tiny description about the proyecto, no much more of 150 characters.</p>
                            <p>
                                <a href="#">+ more</a>
                                <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="images/proy3.jpeg" alt="...">
                        <div class="caption">
                            <h4>Title Proyect</h4>
                            <p>Tiny description about the proyecto, no much more of 150 characters.</p>
                            <p>
                                <a href="#">+ more</a>
                                <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>