<link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css"/>
<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="styles/login.css"/>
<div id="middleContent">
    <div class="container">
        <h1 style="margin-right: 0px;">Thanks for validate your account!</h1>
        <div class="col-md-7 login-form-container">
           <div><h3>Ventajas y agradecimiento</h3></div>
            <div>
                Log in to your admin panel, comment others projects and shared throughout our
                community your opinion about this collaboration platform... and win helping us be more and more
                known.
            </div>
            <div>
                Log in to your admin panel, comment others projects and shared throughout our
                community your opinion about this collaboration platform... and win helping us be more and more
                known.
            </div>
            <div>
                Log in to your admin panel, comment others projects and shared throughout our
                community your opinion about this collaboration platform... and win helping us be more and more
                known.
            </div>
            <div>
                Log in to your admin panel, comment others projects and shared throughout our
                community
            </div>
        </div>
        <div class="col-md-5 signin-form-container">
            <form action="#" id="login-form" >
                <div>
                    Log in to your admin panel, comment others projects and shared throughout our
                    community your opinion about this collaboration platform... and win helping us be more and more
                    known.
                </div>
                <div class="input-group">
              <span class="input-group-addon" id="basic-addon0">
                <span class="glyphicon glyphicon-user"></span>
              </span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
              <span class="input-group-addon" id="basic-addon00">
                <span class="glyphicon glyphicon-asterisk"></span>
              </span>
                    <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span>You forgot your password?</span>
                    <input type="button" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="sep"></div>