<link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css"/>
<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="styles/login.css"/>
<div id="middleContent">
    <div class="container">
        <h1 style="margin-right: 0px;">{{language.thanks}}</h1>
        <div class="col-md-7 login-form-container">
           <div><h3>{{language.validateMsg}}</h3></div>
            <div>
              Pronto recibiras un correo indicandote como validar tu cuenta.
            </div>
            <div>Dentro encontraras un enlace para validar tu cuenta.</div>
        </div>
        <div class="col-md-5 signin-form-container">
            <form action="#" id="login-form" >
                <div class="input-group">
              <span class="input-group-addon" id="basic-addon0">
                <span class="glyphicon glyphicon-user"></span>
              </span>
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username"aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
              <span class="input-group-addon" id="basic-addon00">
                <span class="glyphicon glyphicon-asterisk"></span>
              </span>
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span>You forgot your password?</span>
                    <input type="button" value="Login" ng-click="this.login(user)">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="sep"></div>